In [1]:
import pandas as pd

In [4]:
raw_data = pd.read_excel("file:///home/inrx/Documents/LJ-Survey-Analysis/LandingJobs_Surey_RawData.xlsx", 
                         sheet_name=1)

In [74]:
pd.options.display.max_info_rows = len(raw_data)
pd.options.display.max_rows = len(raw_data)

In [75]:
pd.options.display.max_info_columns = len(raw_data.columns)
pd.options.display.max_columns = len(raw_data.columns)

In [5]:
raw_data.head()

,ID,Employment_Status,Employment_Status_Aggregated,Work_as_Contractor_12m,Work_as_Perm,Residence_Country,Residence_District,Residence_District_Aggregated,Work_Company_Country,Work_Company_Continent,...,Citizenship,Birth_Year,Age,Gender,English_Level,Way_Into_Tech,Way_Into_Tech_Other,Education_Level,Working_Experience,Working_Experience_Aggregated
0,1,Employed full-time,Permanent Employee,1.0,NaN,Portugal,Santarém,Centre,Portugal,Europe,...,Portuguese,1984.0,37.0,Male,Full professional proficiency,University,NaN,NaN,More than 9 years,6+ years
1,2,Employed full-time,Permanent Employee,0.0,NaN,Portugal,Coimbra,Centre,Portugal,Europe,...,Portuguese,1976.0,45.0,Male,Full professional proficiency,Self-taught,NaN,NaN,More than 9 years,6+ years
2,3,Working as a Contractor/Freelancer,Contractor,NaN,1.0,Portugal,Porto,Porto Metropolitan Area,No specific country,NaN,...,Portuguese,1986.0,35.0,Male,Full professional proficiency,University,NaN,Bachelor degree,Between 1 - 3 years,0 - 3 years
3,4,Employed full-time,Permanent Employee,1.0,NaN,Portugal,Açores,Azores and Madeira,Portugal,Europe,...,Portuguese,1975.0,46.0,Male,Full professional proficiency,University,NaN,Bachelor degree,More than 9 years,6+ years
4,5,Employed full-time,Permanent Employee,0.0,NaN,Portugal,Braga,North,Portugal,Europe,...,Portuguese,1989.0,32.0,Male,Professional working proficiency,University,NaN,Bachelor degree,Between 6 - 9 years,6+ years

In [60]:
raw_data.shape

(3371, 126)

In [84]:
raw_data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3371 entries, 0 to 3370
Data columns (total 126 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   ID                                                                           3371 non-null   int64
 1   Employment_Status                                                            3371 non-null   object
 2   Employment_Status_Aggregated                                                 3371 non-null   object
 3   Work_as_Contractor_12m                                                       3166 non-null   float64
 4   Work_as_Perm                                                                 205 non-null    float64
 5   Residence_Country                                                            3371 non-null   object
 6   Residence_District                                                           3371 non-null   object
 7   Residence_District_Aggregated                                                3371 non-null   object
 8   Work_Company_Country                                                         3369 non-null   object
 9   Work_Company_Continent                                                       3329 non-null   object
 10  Work_Company_PT_International                                                3371 non-null   object
 11  Work_Company_PT_District                                                     2592 non-null   object
 12  Work_Company_PT_District_Aggregated                                          2592 non-null   object
 13  Remote_Working_Current                                                       3371 non-null   object
 14  Remote_Working_Current_Flexible_Office_Days                                  907 non-null    float64
 15  Remote_Working_due_to_Covid                                                  3028 non-null   object
 16  Job_Remote_or_Office                                                         3371 non-null   object
 17  Remote_Work_Opinion                                                          3369 non-null   float64
 18  Job_Role_Original                                                            3249 non-null   object
 19  Job_Role_Other                                                               122 non-null    object
 20  Job_Role                                                                     3371 non-null   object
 21  Employer_Industry                                                            3260 non-null   object
 22  Employer_Industry_Other                                                      75 non-null     object
 23  Employer_Org_Type                                                            3330 non-null   object
 24  Employer_Org_Type_Other                                                      41 non-null     object
 25  Employer_Size                                                                3371 non-null   object
 26  Language_JavaScript                                                          1720 non-null   object
 27  Language_Bash/Shell/PowerShell                                               612 non-null    object
 28  Language_SQL                                                                 1555 non-null   object
 29  Language_Java                                                                794 non-null    object
 30  Language_C#                                                                  749 non-null    object
 31  Language_Python                                                              617 non-null    object
 32  Language_PHP                                                                 470 non-null    object
 33  Language_C++                                                                 177 non-null    object
 34  Language_C                                                                   107 non-null    object
 35  Language_TypeScript                                                          699 non-null    object
 36  Language_Ruby                                                                158 non-null    object
 37  Language_Swift                                                               118 non-null    object
 38  Language_Objective-C                                                         57 non-null     object
 39  Language_VB.NET                                                              108 non-null    object
 40  Language_Assembly                                                            11 non-null     object
 41  Language_R                                                                   64 non-null     object
 42  Language_Perl                                                                28 non-null     object
 43  Language_VBA                                                                 96 non-null     object
 44  Language_Matlab                                                              21 non-null     object
 45  Language_Go                                                                  129 non-null    object
 46  Language_Scala                                                               68 non-null     object
 47  Language_Groovy                                                              80 non-null     object
 48  Language_Coffee Script                                                       12 non-null     object
 49  Language_Visual Basic 6                                                      44 non-null     object
 50  Language_Lua                                                                 17 non-null     object
 51  Language_Haskell                                                             3 non-null      object
 52  Language_HTML/CSS                                                            1210 non-null   object
 53  Language_Kotlin                                                              180 non-null    object
 54  Language_Rust                                                                23 non-null     object
 55  Language_Elixir                                                              33 non-null     object
 56  Language_Clojure                                                             8 non-null      object
 57  Language_WebAssembly                                                         20 non-null     object
 58  Language_Dart                                                                43 non-null     object
 59  Language_Languages_N/A                                                       0 non-null      float64
 60  Language_Languages_Other                                                     203 non-null    object
 61  Framework_jQuery                                                             766 non-null    object
 62  Framework_.NET                                                               772 non-null    object
 63  Framework_Angular/Angular.js                                                 572 non-null    object
 64  Framework_Ruby on Rails                                                      145 non-null    object
 65  Framework_React                                                              756 non-null    object
 66  Framework_Django                                                             140 non-null    object
 67  Framework_Laravel                                                            193 non-null    object
 68  Framework_Spring                                                             404 non-null    object
 69  Framework_Vue.js                                                             278 non-null    object
 70  Framework_Express                                                            256 non-null    object
 71  Framework_Meteor                                                             7 non-null      object
 72  Framework_Flask                                                              112 non-null    object
 73  Framework_Ember.js                                                           19 non-null     object
 74  Framework_Drupal                                                             50 non-null     object
 75  Framework_OutSystems                                                         52 non-null     object
 76  Framework_Framework_N/A                                                      0 non-null      float64
 77  Framework_Framework_Other                                                    304 non-null    object
 78  Contractor_Avg_Project                                                       205 non-null    object
 79  Contractor_Avg_Project_Intervals                                             205 non-null    object
 80  Contractor_Avg_Hour_Rate                                                     205 non-null    float64
 81  Contractor_Avg_Annual_Salary                                                 205 non-null    float64
 82  Perm_Current_Company_how_long                                                3166 non-null   object
 83  Perm_GAS                                                                     3166 non-null   object
 84  Perm_GAS_Avg                                                                 3166 non-null   float64
 85  Perm_GAS_Low_Limit                                                           3166 non-null   float64
 86  Perm_GAS_High_Limit                                                          3166 non-null   float64
 87  Avg_Salary                                                                   3371 non-null   int64
 88  Salary_Change                                                                3370 non-null   object
 89  Salary_Fairness                                                              3371 non-null   int64
 90  Changing_Jobs_next_6_months                                                  3369 non-null   float64
 91  Job_Motivator_Work_life_balance                                              3371 non-null   int64
 92  Job_Motivator_Compensation_and_benefits                                      3371 non-null   int64
 93  Job_Motivator_Training/Development_programs_at_work                          3371 non-null   int64
 94  Job_Motivator_Career_growth_opportunities                                    3371 non-null   int64
 95  Job_Motivator_Remote_working                                                 3371 non-null   int64
 96  Job_Motivator_Flexible_schedule                                              3371 non-null   int64
 97  Job_Motivator_Company_culture                                                3371 non-null   int64
 98  Job_Motivator_The_technologies_I'm_working_with                              3371 non-null   int64
 99  Job_Motivator_Versatility/Variety_of_projects                                3371 non-null   int64
 100 Job_Motivator_Freedom_to_choose_the_clients_and/or_projects                  3371 non-null   int64
 101 Job_Motivator_Being_autonomous_at_work                                       3371 non-null   int64
 102 Job_Motivator_How_widely_used_or_impactful_the_product/service_I_work_on_is  3371 non-null   int64
 103 Job_Motivator_Environmentally_friendly/responsible_work_practice             3371 non-null   int64
 104 Job_Perk_Meals_allowance/Company_provided_meals_or_snacks                    3371 non-null   int64
 105 Job_Perk_Transportation_benefit                                              3371 non-null   int64
 106 Job_Perk_Health_benefits                                                     3371 non-null   int64
 107 Job_Perk_Fitness_or_wellness_benefit_(ex._gym_membership)                    3371 non-null   int64
 108 Job_Perk_Computer/_Office_equipment_allowance                                3371 non-null   int64
 109 Job_Perk_Professional_development_sponsorship                                3371 non-null   int64
 110 Job_Perk_Annual_bonus                                                        3371 non-null   int64
 111 Job_Perk_Long-term_leave                                                     3371 non-null   int64
 112 Job_Perk_Parental_leave                                                      3371 non-null   int64
 113 Job_Perk_Stock_options_or_shares                                             3371 non-null   int64
 114 Job_Perk_Education_sponsorship                                               3371 non-null   int64
 115 Job_Perk_Child_care                                                          3371 non-null   int64
 116 Citizenship                                                                  3371 non-null   object
 117 Birth_Year                                                                   3365 non-null   float64
 118 Age                                                                          3365 non-null   float64
 119 Gender                                                                       3371 non-null   object
 120 English_Level                                                                3371 non-null   object
 121 Way_Into_Tech                                                                3296 non-null   object
 122 Way_Into_Tech_Other                                                          74 non-null     object
 123 Education_Level                                                              3369 non-null   object
 124 Working_Experience                                                           3371 non-null   object
 125 Working_Experience_Aggregated                                                3371 non-null   object
dtypes: float64(14), int64(28), object(84)
memory usage: 3.2+ MB

In [76]:
raw_data.nunique(dropna=False)

ID                                                                             3371
Employment_Status                                                                 3
Employment_Status_Aggregated                                                      2
Work_as_Contractor_12m                                                            3
Work_as_Perm                                                                      3
Residence_Country                                                                 1
Residence_District                                                               21
Residence_District_Aggregated                                                     7
Work_Company_Country                                                             40
Work_Company_Continent                                                            8
Work_Company_PT_International                                                     2
Work_Company_PT_District                                                         22
Work_Company_PT_District_Aggregated                                               8
Remote_Working_Current                                                            3
Remote_Working_Current_Flexible_Office_Days                                       6
Remote_Working_due_to_Covid                                                       3
Job_Remote_or_Office                                                              2
Remote_Work_Opinion                                                               8
Job_Role_Original                                                                19
Job_Role_Other                                                                  100
Job_Role                                                                         18
Employer_Industry                                                                25
Employer_Industry_Other                                                          64
Employer_Org_Type                                                                 8
Employer_Org_Type_Other                                                          37
Employer_Size                                                                     7
Language_JavaScript                                                               2
Language_Bash/Shell/PowerShell                                                    2
Language_SQL                                                                      2
Language_Java                                                                     2
Language_C#                                                                       2
Language_Python                                                                   2
Language_PHP                                                                      2
Language_C++                                                                      2
Language_C                                                                        2
Language_TypeScript                                                               2
Language_Ruby                                                                     2
Language_Swift                                                                    2
Language_Objective-C                                                              2
Language_VB.NET                                                                   2
Language_Assembly                                                                 2
Language_R                                                                        2
Language_Perl                                                                     2
Language_VBA                                                                      2
Language_Matlab                                                                   2
Language_Go                                                                       2
Language_Scala                                                                    2
Language_Groovy                                                                   2
Language_Coffee Script                                                            2
Language_Visual Basic 6                                                           2
Language_Lua                                                                      2
Language_Haskell                                                                  2
Language_HTML/CSS                                                                 2
Language_Kotlin                                                                   2
Language_Rust                                                                     2
Language_Elixir                                                                   2
Language_Clojure                                                                  2
Language_WebAssembly                                                              2
Language_Dart                                                                     2
Language_Languages_N/A                                                            1
Language_Languages_Other                                                        107
Framework_jQuery                                                                  2
Framework_.NET                                                                    2
Framework_Angular/Angular.js                                                      2
Framework_Ruby on Rails                                                           2
Framework_React                                                                   2
Framework_Django                                                                  2
Framework_Laravel                                                                 2
Framework_Spring                                                                  2
Framework_Vue.js                                                                  2
Framework_Express                                                                 2
Framework_Meteor                                                                  2
Framework_Flask                                                                   2
Framework_Ember.js                                                                2
Framework_Drupal                                                                  2
Framework_OutSystems                                                              2
Framework_Framework_N/A                                                           1
Framework_Framework_Other                                                       191
Contractor_Avg_Project                                                           15
Contractor_Avg_Project_Intervals                                                  6
Contractor_Avg_Hour_Rate                                                         59
Contractor_Avg_Annual_Salary                                                     59
Perm_Current_Company_how_long                                                     4
Perm_GAS                                                                         20
Perm_GAS_Avg                                                                     20
Perm_GAS_Low_Limit                                                               20
Perm_GAS_High_Limit                                                              20
Avg_Salary                                                                       77
Salary_Change                                                                     8
Salary_Fairness                                                                   7
Changing_Jobs_next_6_months                                                       6
Job_Motivator_Work_life_balance                                                   7
Job_Motivator_Compensation_and_benefits                                           7
Job_Motivator_Training/Development_programs_at_work                               7
Job_Motivator_Career_growth_opportunities                                         7
Job_Motivator_Remote_working                                                      7
Job_Motivator_Flexible_schedule                                                   7
Job_Motivator_Company_culture                                                     7
Job_Motivator_The_technologies_I'm_working_with                                   7
Job_Motivator_Versatility/Variety_of_projects                                     7
Job_Motivator_Freedom_to_choose_the_clients_and/or_projects                       7
Job_Motivator_Being_autonomous_at_work                                            7
Job_Motivator_How_widely_used_or_impactful_the_product/service_I_work_on_is       7
Job_Motivator_Environmentally_friendly/responsible_work_practice                  7
Job_Perk_Meals_allowance/Company_provided_meals_or_snacks                         7
Job_Perk_Transportation_benefit                                                   7
Job_Perk_Health_benefits                                                          7
Job_Perk_Fitness_or_wellness_benefit_(ex._gym_membership)                         7
Job_Perk_Computer/_Office_equipment_allowance                                     7
Job_Perk_Professional_development_sponsorship                                     7
Job_Perk_Annual_bonus                                                             7
Job_Perk_Long-term_leave                                                          7
Job_Perk_Parental_leave                                                           7
Job_Perk_Stock_options_or_shares                                                  7
Job_Perk_Education_sponsorship                                                    7
Job_Perk_Child_care                                                               7
Citizenship                                                                      40
Birth_Year                                                                       45
Age                                                                              45
Gender                                                                            3
English_Level                                                                     5
Way_Into_Tech                                                                     4
Way_Into_Tech_Other                                                              66
Education_Level                                                                   9
Working_Experience                                                                6
Working_Experience_Aggregated                                                     4
dtype: int64

In [77]:
raw_data.Employment_Status.value_counts()

Employed full-time                    3131
Working as a Contractor/Freelancer     205
Employed part-time                      35
Name: Employment_Status, dtype: int64

In [78]:
raw_data.Residence_Country.value_counts()

Portugal    3371
Name: Residence_Country, dtype: int64

In [79]:
raw_data.Residence_District.value_counts()

Lisboa              1174
Porto                733
Braga                265
Coimbra              200
Setúbal              186
Leiria               120
Faro                 118
Madeira              103
Aveiro                94
Castelo Branco        93
Viseu                 55
Açores                40
Santarém              38
Évora                 37
Viana do Castelo      34
Bragança              24
Vila Real             16
Guarda                14
Portalegre            14
Beja                  10
Other                  3
Name: Residence_District, dtype: int64

In [81]:
raw_data.Gender.value_counts()

Male                   2899
Female                  422
I prefer not to say      50
Name: Gender, dtype: int64

In [90]:
for col in raw_data.columns:
    print('-' * 40 + col + '-' * 40 , end=' - ')
    display(raw_data[col].value_counts(dropna=False).head(10))

----------------------------------------ID---------------------------------------- -

2047    1
2576    1
2624    1
573     1
2620    1
569     1
2616    1
565     1
2612    1
561     1
Name: ID, dtype: int64

----------------------------------------Employment_Status---------------------------------------- -

Employed full-time                    3131
Working as a Contractor/Freelancer     205
Employed part-time                      35
Name: Employment_Status, dtype: int64

----------------------------------------Employment_Status_Aggregated---------------------------------------- -

Permanent Employee    3166
Contractor             205
Name: Employment_Status_Aggregated, dtype: int64

----------------------------------------Work_as_Contractor_12m---------------------------------------- -

0.0    2269
1.0     897
NaN     205
Name: Work_as_Contractor_12m, dtype: int64

----------------------------------------Work_as_Perm---------------------------------------- -

NaN    3166
1.0     137
0.0      68
Name: Work_as_Perm, dtype: int64

----------------------------------------Residence_Country---------------------------------------- -

Portugal    3371
Name: Residence_Country, dtype: int64

----------------------------------------Residence_District---------------------------------------- -

Lisboa            1174
Porto              733
Braga              265
Coimbra            200
Setúbal            186
Leiria             120
Faro               118
Madeira            103
Aveiro              94
Castelo Branco      93
Name: Residence_District, dtype: int64

----------------------------------------Residence_District_Aggregated---------------------------------------- -

Lisbon Metropolitan Area    1360
Porto Metropolitan Area      733
Centre                       614
North                        339
South                        179
Azores and Madeira           143
Other                          3
Name: Residence_District_Aggregated, dtype: int64

----------------------------------------Work_Company_Country---------------------------------------- -

Portugal               2594
USA                     155
UK                      130
Germany                  98
France                   63
Netherlands              52
Switzerland              46
No specific country      39
Spain                    28
Ireland                  21
Name: Work_Company_Country, dtype: int64

----------------------------------------Work_Company_Continent---------------------------------------- -

Europe           3108
North America     168
NaN                42
South America      20
Middle East        15
Asia                9
Africa              7
Oceania             2
Name: Work_Company_Continent, dtype: int64

----------------------------------------Work_Company_PT_International---------------------------------------- -

Portugal         2594
International     777
Name: Work_Company_PT_International, dtype: int64

----------------------------------------Work_Company_PT_District---------------------------------------- -

Lisboa            1254
NaN                779
Porto              625
Coimbra            144
Braga              140
Faro                62
Aveiro              61
Leiria              59
Madeira             56
Castelo Branco      44
Name: Work_Company_PT_District, dtype: int64

----------------------------------------Work_Company_PT_District_Aggregated---------------------------------------- -

Lisbon Metropolitan Area    1270
NaN                          779
Porto Metropolitan Area      625
Centre                       352
North                        176
South                         84
Azores and Madeira            76
Other                          9
Name: Work_Company_PT_District_Aggregated, dtype: int64

----------------------------------------Remote_Working_Current---------------------------------------- -

Yes, fully remote                     2121
Flexible between remote and office     907
No, full office job                    343
Name: Remote_Working_Current, dtype: int64

----------------------------------------Remote_Working_Current_Flexible_Office_Days---------------------------------------- -

NaN    2464
3.0     231
1.0     220
2.0     187
5.0     166
4.0     103
Name: Remote_Working_Current_Flexible_Office_Days, dtype: int64

----------------------------------------Remote_Working_due_to_Covid---------------------------------------- -

Working remote because of Covid-19                   1876
My job is remote (full or flexible) by definition    1152
NaN                                                   343
Name: Remote_Working_due_to_Covid, dtype: int64

----------------------------------------Job_Remote_or_Office---------------------------------------- -

Full Office Job                  2219
Remote Job (full or flexible)    1152
Name: Job_Remote_or_Office, dtype: int64

----------------------------------------Remote_Work_Opinion---------------------------------------- -

5.0    986
6.0    922
7.0    686
4.0    542
3.0    168
2.0     56
1.0      9
NaN      2
Name: Remote_Work_Opinion, dtype: int64

----------------------------------------Job_Role_Original---------------------------------------- -

Full-Stack Developer             831
Back-End Developer               500
Technical Team Leader            300
Front-End Developer              295
Project Manager                  236
Data Scientist/Data Engineer     157
Product Owner/Product Manager    140
Mobile Apps Developer            125
NaN                              122
UX/UI Designer                   107
Name: Job_Role_Original, dtype: int64

----------------------------------------Job_Role_Other---------------------------------------- -

NaN                     3249
Engineering Manager        7
Head of Engineering        5
Developer                  3
Business Analyst           3
Software Engineer          3
Enterprise Architect       3
Web Developer              2
DBA                        2
Head of Product            2
Name: Job_Role_Other, dtype: int64

----------------------------------------Job_Role---------------------------------------- -

Full-Stack Developer             846
Back-End Developer               511
Technical Team Leader            316
Front-End Developer              299
Project Manager                  236
Data Scientist/Data Engineer     160
Product Owner/Product Manager    147
Mobile Apps Developer            126
UX/UI Designer                   120
CTO                              105
Name: Job_Role, dtype: int64

----------------------------------------Employer_Industry---------------------------------------- -

Consulting                                  436
Software development - other                377
Financial and banking                       337
Information technology                      282
Cloud-based solutions or services           270
Software as a service (saas) development    248
Retail or ecommerce                         205
Web development or design                   141
Telecommunications                          124
NaN                                         111
Name: Employer_Industry, dtype: int64

----------------------------------------Employer_Industry_Other---------------------------------------- -

NaN                                            3296
Insurance                                         7
Gambling                                          3
Sports                                            2
Automotive                                        2
Services                                          2
Contact Center                                    2
Drinking Water production, Águas do Algarve       1
Insuretech                                        1
Online Betting & Gaming                           1
Name: Employer_Industry_Other, dtype: int64

----------------------------------------Employer_Org_Type---------------------------------------- -

Corporate                                                                    1097
SME - Small or Medium Enterprise (personnel <250)                            1018
Consulting Business                                                           350
Startup (new business venture)                                                319
Scale-up (fast growing company aka "unicorn")                                 245
Outsourcing                                                                   160
Nearshore (outsource business processes to companies in a nearby country)     141
NaN                                                                            41
Name: Employer_Org_Type, dtype: int64

----------------------------------------Employer_Org_Type_Other---------------------------------------- -

NaN                                                         3330
University                                                     4
Government                                                     2
Freelance                                                      2
It is a foundation around an open source based solution.       1
Unemployed                                                     1
Highschool                                                     1
gov                                                            1
Micro Company                                                  1
Military                                                       1
Name: Employer_Org_Type_Other, dtype: int64

----------------------------------------Employer_Size---------------------------------------- -

100 - 499 employees          784
20 - 99 employees            711
1000 - 4.999 employees       554
More than 5.000 employees    482
500 - 999 employees          300
Less than 10 employees       279
10 - 19 employees            261
Name: Employer_Size, dtype: int64

----------------------------------------Language_JavaScript---------------------------------------- -

JavaScript    1720
NaN           1651
Name: Language_JavaScript, dtype: int64

----------------------------------------Language_Bash/Shell/PowerShell---------------------------------------- -

NaN                      2759
Bash/Shell/PowerShell     612
Name: Language_Bash/Shell/PowerShell, dtype: int64

----------------------------------------Language_SQL---------------------------------------- -

NaN    1816
SQL    1555
Name: Language_SQL, dtype: int64

----------------------------------------Language_Java---------------------------------------- -

NaN     2577
Java     794
Name: Language_Java, dtype: int64

----------------------------------------Language_C#---------------------------------------- -

NaN    2622
C#      749
Name: Language_C#, dtype: int64

----------------------------------------Language_Python---------------------------------------- -

NaN       2754
Python     617
Name: Language_Python, dtype: int64

----------------------------------------Language_PHP---------------------------------------- -

NaN    2901
PHP     470
Name: Language_PHP, dtype: int64

----------------------------------------Language_C++---------------------------------------- -

NaN    3194
C++     177
Name: Language_C++, dtype: int64

----------------------------------------Language_C---------------------------------------- -

NaN    3264
C       107
Name: Language_C, dtype: int64

----------------------------------------Language_TypeScript---------------------------------------- -

NaN           2672
TypeScript     699
Name: Language_TypeScript, dtype: int64

----------------------------------------Language_Ruby---------------------------------------- -

NaN     3213
Ruby     158
Name: Language_Ruby, dtype: int64

----------------------------------------Language_Swift---------------------------------------- -

NaN      3253
Swift     118
Name: Language_Swift, dtype: int64

----------------------------------------Language_Objective-C---------------------------------------- -

NaN            3314
Objective-C      57
Name: Language_Objective-C, dtype: int64

----------------------------------------Language_VB.NET---------------------------------------- -

NaN       3263
VB.NET     108
Name: Language_VB.NET, dtype: int64

----------------------------------------Language_Assembly---------------------------------------- -

NaN         3360
Assembly      11
Name: Language_Assembly, dtype: int64

----------------------------------------Language_R---------------------------------------- -

NaN    3307
R        64
Name: Language_R, dtype: int64

----------------------------------------Language_Perl---------------------------------------- -

NaN     3343
Perl      28
Name: Language_Perl, dtype: int64

----------------------------------------Language_VBA---------------------------------------- -

NaN    3275
VBA      96
Name: Language_VBA, dtype: int64

----------------------------------------Language_Matlab---------------------------------------- -

NaN       3350
Matlab      21
Name: Language_Matlab, dtype: int64

----------------------------------------Language_Go---------------------------------------- -

NaN    3242
Go      129
Name: Language_Go, dtype: int64

----------------------------------------Language_Scala---------------------------------------- -

NaN      3303
Scala      68
Name: Language_Scala, dtype: int64

----------------------------------------Language_Groovy---------------------------------------- -

NaN       3291
Groovy      80
Name: Language_Groovy, dtype: int64

----------------------------------------Language_Coffee Script---------------------------------------- -

NaN              3359
Coffee Script      12
Name: Language_Coffee Script, dtype: int64

----------------------------------------Language_Visual Basic 6---------------------------------------- -

NaN               3327
Visual Basic 6      44
Name: Language_Visual Basic 6, dtype: int64

----------------------------------------Language_Lua---------------------------------------- -

NaN    3354
Lua      17
Name: Language_Lua, dtype: int64

----------------------------------------Language_Haskell---------------------------------------- -

NaN        3368
Haskell       3
Name: Language_Haskell, dtype: int64

----------------------------------------Language_HTML/CSS---------------------------------------- -

NaN         2161
HTML/CSS    1210
Name: Language_HTML/CSS, dtype: int64

----------------------------------------Language_Kotlin---------------------------------------- -

NaN       3191
Kotlin     180
Name: Language_Kotlin, dtype: int64

----------------------------------------Language_Rust---------------------------------------- -

NaN     3348
Rust      23
Name: Language_Rust, dtype: int64

----------------------------------------Language_Elixir---------------------------------------- -

NaN       3338
Elixir      33
Name: Language_Elixir, dtype: int64

----------------------------------------Language_Clojure---------------------------------------- -

NaN        3363
Clojure       8
Name: Language_Clojure, dtype: int64

----------------------------------------Language_WebAssembly---------------------------------------- -

NaN            3351
WebAssembly      20
Name: Language_WebAssembly, dtype: int64

----------------------------------------Language_Dart---------------------------------------- -

NaN     3328
Dart      43
Name: Language_Dart, dtype: int64

----------------------------------------Language_Languages_N/A---------------------------------------- -

NaN    3371
Name: Language_Languages_N/A, dtype: int64

----------------------------------------Language_Languages_Other---------------------------------------- -

NaN           3168
Outsystems      28
OutSystems      13
Salesforce       8
React            7
RPG              6
Apex             6
SAS              5
RPGLE            5
Cobol            4
Name: Language_Languages_Other, dtype: int64

----------------------------------------Framework_jQuery---------------------------------------- -

NaN       2605
jQuery     766
Name: Framework_jQuery, dtype: int64

----------------------------------------Framework_.NET---------------------------------------- -

NaN     2599
.NET     772
Name: Framework_.NET, dtype: int64

----------------------------------------Framework_Angular/Angular.js---------------------------------------- -

NaN                   2799
Angular/Angular.js     572
Name: Framework_Angular/Angular.js, dtype: int64

----------------------------------------Framework_Ruby on Rails---------------------------------------- -

NaN              3226
Ruby on Rails     145
Name: Framework_Ruby on Rails, dtype: int64

----------------------------------------Framework_React---------------------------------------- -

NaN      2615
React     756
Name: Framework_React, dtype: int64

----------------------------------------Framework_Django---------------------------------------- -

NaN       3231
Django     140
Name: Framework_Django, dtype: int64

----------------------------------------Framework_Laravel---------------------------------------- -

NaN        3178
Laravel     193
Name: Framework_Laravel, dtype: int64

----------------------------------------Framework_Spring---------------------------------------- -

NaN       2967
Spring     404
Name: Framework_Spring, dtype: int64

----------------------------------------Framework_Vue.js---------------------------------------- -

NaN       3093
Vue.js     278
Name: Framework_Vue.js, dtype: int64

----------------------------------------Framework_Express---------------------------------------- -

NaN        3115
Express     256
Name: Framework_Express, dtype: int64

----------------------------------------Framework_Meteor---------------------------------------- -

NaN       3364
Meteor       7
Name: Framework_Meteor, dtype: int64

----------------------------------------Framework_Flask---------------------------------------- -

NaN      3259
Flask     112
Name: Framework_Flask, dtype: int64

----------------------------------------Framework_Ember.js---------------------------------------- -

NaN         3352
Ember.js      19
Name: Framework_Ember.js, dtype: int64

----------------------------------------Framework_Drupal---------------------------------------- -

NaN       3321
Drupal      50
Name: Framework_Drupal, dtype: int64

----------------------------------------Framework_OutSystems---------------------------------------- -

NaN           3319
Outsystems      52
Name: Framework_OutSystems, dtype: int64

----------------------------------------Framework_Framework_N/A---------------------------------------- -

NaN    3371
Name: Framework_Framework_N/A, dtype: int64

----------------------------------------Framework_Framework_Other---------------------------------------- -

NaN           3067
Outsystems      15
Symfony         14
Quarkus         11
Flutter         10
Phoenix          7
Salesforce       6
None             6
OutSystems       6
Android          6
Name: Framework_Framework_Other, dtype: int64

----------------------------------------Contractor_Avg_Project---------------------------------------- -

NaN    3166
12       90
6        33
3        19
2        14
>24      13
24        9
1         9
9         6
8         3
Name: Contractor_Avg_Project, dtype: int64

----------------------------------------Contractor_Avg_Project_Intervals---------------------------------------- -

NaN                    3166
7 to 12 months          101
Less than 3 months       42
4 to 6 months            38
More than 24 months      13
13 to 24 monthts         11
Name: Contractor_Avg_Project_Intervals, dtype: int64

----------------------------------------Contractor_Avg_Hour_Rate---------------------------------------- -

NaN     3166
30.0      22
25.0      17
40.0      17
35.0      15
20.0      14
10.0      10
50.0      10
15.0       6
60.0       6
Name: Contractor_Avg_Hour_Rate, dtype: int64

----------------------------------------Contractor_Avg_Annual_Salary---------------------------------------- -

NaN        3166
48000.0      22
40000.0      17
64000.0      17
56000.0      15
32000.0      14
16000.0      10
80000.0      10
96000.0       6
24000.0       6
Name: Contractor_Avg_Annual_Salary, dtype: int64

----------------------------------------Perm_Current_Company_how_long---------------------------------------- -

Between 1 - 3 years    1373
More than 3 years      1022
Less than one year      771
NaN                     205
Name: Perm_Current_Company_how_long, dtype: int64

----------------------------------------Perm_GAS---------------------------------------- -

€15.000 - €20.000    544
€20.000 - €25.000    456
< €15.000            433
€25.000 - €30.000    378
€30.000 - €35.000    307
€35.000 - €40.000    269
NaN                  205
€40.000 - €45.000    202
€45.000 - €50.000    154
€50.000 - €55.000    122
Name: Perm_GAS, dtype: int64

----------------------------------------Perm_GAS_Avg---------------------------------------- -

17500.0    544
22500.0    456
12500.0    433
27500.0    378
32500.0    307
37500.0    269
NaN        205
42500.0    202
47500.0    154
52500.0    122
Name: Perm_GAS_Avg, dtype: int64

----------------------------------------Perm_GAS_Low_Limit---------------------------------------- -

15000.0    544
20000.0    456
0.0        433
25000.0    378
30000.0    307
35000.0    269
NaN        205
40000.0    202
45000.0    154
50000.0    122
Name: Perm_GAS_Low_Limit, dtype: int64

----------------------------------------Perm_GAS_High_Limit---------------------------------------- -

20000.0    544
25000.0    456
15000.0    433
30000.0    378
35000.0    307
40000.0    269
NaN        205
45000.0    202
50000.0    154
55000.0    122
Name: Perm_GAS_High_Limit, dtype: int64

----------------------------------------Avg_Salary---------------------------------------- -

17500    544
22500    456
12500    433
27500    378
32500    307
37500    269
42500    202
47500    154
52500    122
57500     88
Name: Avg_Salary, dtype: int64

----------------------------------------Salary_Change---------------------------------------- -

Hasn't changed             1413
]5%,15%]                    649
]0%, 5%]                    638
Increased more than 15%     470
Decreased more than 15%      91
[-15%, -5%[                  63
[-5%, 0%[                    46
NaN                           1
Name: Salary_Change, dtype: int64

----------------------------------------Salary_Fairness---------------------------------------- -

5    752
4    679
3    565
6    502
2    381
1    252
7    240
Name: Salary_Fairness, dtype: int64

----------------------------------------Changing_Jobs_next_6_months---------------------------------------- -

3.0    1068
1.0     696
5.0     544
4.0     535
2.0     526
NaN       2
Name: Changing_Jobs_next_6_months, dtype: int64

----------------------------------------Job_Motivator_Work_life_balance---------------------------------------- -

7    1718
6    1008
5     470
4     137
3      26
2      10
1       2
Name: Job_Motivator_Work_life_balance, dtype: int64

----------------------------------------Job_Motivator_Compensation_and_benefits---------------------------------------- -

6    1224
7    1165
5     755
4     182
3      34
2       8
1       3
Name: Job_Motivator_Compensation_and_benefits, dtype: int64

----------------------------------------Job_Motivator_Training/Development_programs_at_work---------------------------------------- -

5    1002
6     884
7     812
4     432
3     153
2      62
1      26
Name: Job_Motivator_Training/Development_programs_at_work, dtype: int64

----------------------------------------Job_Motivator_Career_growth_opportunities---------------------------------------- -

7    1247
6    1151
5     726
4     186
3      37
1      13
2      11
Name: Job_Motivator_Career_growth_opportunities, dtype: int64

----------------------------------------Job_Motivator_Remote_working---------------------------------------- -

5    858
6    811
7    807
4    574
3    200
2     71
1     50
Name: Job_Motivator_Remote_working, dtype: int64

----------------------------------------Job_Motivator_Flexible_schedule---------------------------------------- -

7    1085
6     973
5     765
4     378
3     118
2      34
1      18
Name: Job_Motivator_Flexible_schedule, dtype: int64

----------------------------------------Job_Motivator_Company_culture---------------------------------------- -

6    1029
7     975
5     812
4     391
3     105
1      35
2      24
Name: Job_Motivator_Company_culture, dtype: int64

----------------------------------------Job_Motivator_The_technologies_I'm_working_with---------------------------------------- -

6    972
5    872
7    829
4    458
3    138
2     53
1     49
Name: Job_Motivator_The_technologies_I'm_working_with, dtype: int64

----------------------------------------Job_Motivator_Versatility/Variety_of_projects---------------------------------------- -

5    1141
6     794
4     662
7     442
3     220
2      70
1      42
Name: Job_Motivator_Versatility/Variety_of_projects, dtype: int64

----------------------------------------Job_Motivator_Freedom_to_choose_the_clients_and/or_projects---------------------------------------- -

4    933
5    871
6    482
3    447
7    274
2    210
1    154
Name: Job_Motivator_Freedom_to_choose_the_clients_and/or_projects, dtype: int64

----------------------------------------Job_Motivator_Being_autonomous_at_work---------------------------------------- -

6    1170
5     925
7     864
4     327
3      59
2      17
1       9
Name: Job_Motivator_Being_autonomous_at_work, dtype: int64

----------------------------------------Job_Motivator_How_widely_used_or_impactful_the_product/service_I_work_on_is---------------------------------------- -

5    1098
6     890
4     562
7     529
3     180
2      63
1      49
Name: Job_Motivator_How_widely_used_or_impactful_the_product/service_I_work_on_is, dtype: int64

----------------------------------------Job_Motivator_Environmentally_friendly/responsible_work_practice---------------------------------------- -

6    1025
5     848
7     773
4     432
3     152
1      71
2      70
Name: Job_Motivator_Environmentally_friendly/responsible_work_practice, dtype: int64

----------------------------------------Job_Perk_Meals_allowance/Company_provided_meals_or_snacks---------------------------------------- -

5    908
4    674
6    604
7    466
3    307
1    232
2    180
Name: Job_Perk_Meals_allowance/Company_provided_meals_or_snacks, dtype: int64

----------------------------------------Job_Perk_Transportation_benefit---------------------------------------- -

5    844
4    750
6    533
7    384
3    349
1    292
2    219
Name: Job_Perk_Transportation_benefit, dtype: int64

----------------------------------------Job_Perk_Health_benefits---------------------------------------- -

7    1323
6    1029
5     620
4     229
3      78
1      54
2      38
Name: Job_Perk_Health_benefits, dtype: int64

----------------------------------------Job_Perk_Fitness_or_wellness_benefit_(ex._gym_membership)---------------------------------------- -

4    850
5    735
3    429
1    378
6    376
2    331
7    272
Name: Job_Perk_Fitness_or_wellness_benefit_(ex._gym_membership), dtype: int64

----------------------------------------Job_Perk_Computer/_Office_equipment_allowance---------------------------------------- -

7    1407
6     938
5     607
4     249
3      86
1      45
2      39
Name: Job_Perk_Computer/_Office_equipment_allowance, dtype: int64

----------------------------------------Job_Perk_Professional_development_sponsorship---------------------------------------- -

5    979
6    954
7    756
4    472
3    115
1     50
2     45
Name: Job_Perk_Professional_development_sponsorship, dtype: int64

----------------------------------------Job_Perk_Annual_bonus---------------------------------------- -

7    1098
6     903
5     771
4     382
3     104
1      61
2      52
Name: Job_Perk_Annual_bonus, dtype: int64

----------------------------------------Job_Perk_Long-term_leave---------------------------------------- -

5    935
4    790
6    664
7    558
3    208
2    130
1     86
Name: Job_Perk_Long-term_leave, dtype: int64

----------------------------------------Job_Perk_Parental_leave---------------------------------------- -

7    1190
6     828
5     614
4     443
1     117
3     105
2      74
Name: Job_Perk_Parental_leave, dtype: int64

----------------------------------------Job_Perk_Stock_options_or_shares---------------------------------------- -

4    936
5    739
6    417
3    412
7    309
1    296
2    262
Name: Job_Perk_Stock_options_or_shares, dtype: int64

----------------------------------------Job_Perk_Education_sponsorship---------------------------------------- -

5    1020
4     744
6     697
7     473
3     222
1     111
2     104
Name: Job_Perk_Education_sponsorship, dtype: int64

----------------------------------------Job_Perk_Child_care---------------------------------------- -

5    793
4    748
6    637
7    525
3    257
1    246
2    165
Name: Job_Perk_Child_care, dtype: int64

----------------------------------------Citizenship---------------------------------------- -

Portuguese      3142
Brazilian        134
Italian           10
Spanish           10
French             7
British            6
Indian             5
Cape Verdean       5
Angolan            4
German             4
Name: Citizenship, dtype: int64

----------------------------------------Birth_Year---------------------------------------- -

1992.0    215
1990.0    202
1988.0    196
1989.0    194
1991.0    193
1993.0    178
1995.0    170
1994.0    156
1987.0    153
1985.0    142
Name: Birth_Year, dtype: int64

----------------------------------------Age---------------------------------------- -

29.0    215
31.0    202
33.0    196
32.0    194
30.0    193
28.0    178
26.0    170
27.0    156
34.0    153
36.0    142
Name: Age, dtype: int64

----------------------------------------Gender---------------------------------------- -

Male                   2899
Female                  422
I prefer not to say      50
Name: Gender, dtype: int64

----------------------------------------English_Level---------------------------------------- -

Full professional proficiency       1453
Professional working proficiency    1195
Native or bilingual proficiency      426
Limited working proficiency          245
Elementary                            52
Name: English_Level, dtype: int64

----------------------------------------Way_Into_Tech---------------------------------------- -

University       2504
Self-taught       633
Code bootcamp     159
NaN                75
Name: Way_Into_Tech, dtype: int64

----------------------------------------Way_Into_Tech_Other---------------------------------------- -

NaN                                                                                                             3297
High School                                                                                                        5
Professional Course                                                                                                2
.                                                                                                                  2
Professional school                                                                                                2
Work                                                                                                               2
Internship                                                                                                         2
Since I have 6 years old. I decide o want to be a "man of cumputers". 10 yrs learn my first language,pascal.       1
Post-graduation                                                                                                    1
Carrer change                                                                                                      1
Name: Way_Into_Tech_Other, dtype: int64

----------------------------------------Education_Level---------------------------------------- -

Masters degree                         1544
Bachelor degree                        1304
Trade/technical/vocational training     156
High School Education                   146
University drop out                     144
Doctoral degree                          49
I prefer not to answer                   19
Basic Education                           7
NaN                                       2
Name: Education_Level, dtype: int64

----------------------------------------Working_Experience---------------------------------------- -

More than 9 years        1281
Between 3 - 6 years       744
Between 1 - 3 years       624
Between 6 - 9 years       545
Less than 1 year          165
No working experience      12
Name: Working_Experience, dtype: int64

----------------------------------------Working_Experience_Aggregated---------------------------------------- -

6+ years       1826
0 - 3 years     789
3 - 6 years     744
0 Years          12
Name: Working_Experience_Aggregated, dtype: int64